.quiz-container {
  display: flex;
  padding: 20px 20px 0;
  gap: 20px;
  .quiz-left {
    width: 70%;
    border: 2px solid #ccc;
    border-radius: 8px;
    .quiz-left-title {
      margin: 0 20px;
      padding: 20px 0 24px;
      border-bottom: 1px solid #ddd;
    }
    .quiz-left-footer {
      margin: 20px 0;
      justify-content: center;
      display: flex;
    }
    .btn-footer {
      &:hover {
        background-color: #0d6efd;
        color: #fff;
      }
    }

    .image {
      margin-top: 20px;
      .question-image {
        width: 400px;
        height: 300px;
        object-fit: cover;
        display: flex;
        margin: auto;
      }
    }

    .question {
      margin-top: 20px;
      margin-left: 20px;
      font-size: 18px;
      font-weight: 600;
    }
    .answer {
      margin-top: 20px;
      margin-left: 20px;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
.quiz-right {
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 30%;
}
