.admin-container {
  display: flex;
  .admin-content {
    width: 100%;
    .admin-header {
      padding-left: 16px;
    }
  }

  .admin-sidebar {
    .pro-sidebar {
      height: 100vh !important;
    }
  }
}
